<!-- _part/asset/script/custom -->

<script src="office/jam/utility/InviteFriend.js"></script>

<template data-id="inviteFriendForm">
    <div class="form">
        <div class="alert-danger alert hidden"></div>
        <div class="form-attr form-group row">
            <label class="col-md-3 col-form-label" data-t="">Text</label>
            <div class="col-md-9">
                <textarea name="text" class="form-control form-value" rows="4"></textarea>
                <div class="error-block"></div>
            </div>
        </div>
    </div>
</template>