
<div class="page" data-page="album" data-handler="AlbumPage">

    <div class="album loadable-container" data-handler="Album">

        <template data-id="album">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" data-action="main" data-t="">Main</a></li>
                    <li class="breadcrumb-item"><a href="#" data-action="member" data-id="{{owner}}" data-t="">Member</a></li>
                    <li class="breadcrumb-item" data-t="">Album</li>
                </ol>
                <%- include('./_account') %>
            </div>

            <h1>{{name}}</h1>

            <h4>{{description}}</h4>

            <div class="tabs form-tabs mt-4" data-id="tabs">
                <div class="nav nav-tabs" role="tablist">
                    <a class="nav-item nav-link active" href="#" role="tab" data-id="photos" data-t="">Photos</a>
                    <a class="nav-item nav-link" href="#" role="tab" data-id="comments" data-t="">Comments</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane model-group active" data-id="photos">
                        <%- include('./_albumPhotos') %>
                    </div>
                    <div class="tab-pane model-group" data-id="comments">
                        <%- include('./_albumComments') %>
                    </div>
                </div>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>