
<div class="page" data-page="album" data-handler="AlbumPage">

    <div class="album loadable-container" data-handler="Album">

        <template data-id="album">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li><a href="#" data-action="main" data-t="">Main</a></li>
                    <li><a href="#" data-action="member" data-id="{{owner}}" data-t="">Member</a></li>
                    <li data-t="">Album</li>
                </ol>
                <%- include('./_account') %>
            </div>

            <h1>{{name}}</h1>

            <h4>{{description}}</h4>

            <div class="tabs form-tabs mt40" data-id="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-tab active" data-id="photos">
                        <a href="#" data-t="">Photos</a>
                    </li>
                    <li class="nav-tab" data-id="comments">
                        <a href="#" data-t="">Comments</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="form-base-group tab-pane active" data-id="photos">
                        <%- include('./_albumPhotos') %>
                    </div>
                    <div class="form-base-group tab-pane" data-id="comments">
                        <%- include('./_albumComments') %>
                    </div>
                </div>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>