
<div class="photo-list loadable-container" data-handler="AlbumPhotoList" data-album="{{_id}}">

    <template data-id="list">
        <div class="photo-items">##items##</div>
    </template>

    <template data-id="item">
        <div class="photo-card" data-id="##_id##">
            <a href="#" data-action="photo">
                <img data-src="<%- _url('/api/base/file/thumbnail') %>?s=small&c=photo&id=##_id##"
                     class="img-thumbnail img-fluid" alt="##name##">
            </a>
            <h4><a href="#" data-action="photo">##name##</a></h4>
        </div>
    </template>

    <%- include('./_pagination', {start: '##', end: '##'}) %>

    <template data-id="empty">
        <div class="alert-warning alert">
            <span data-t="">No photos available</span>
        </div>
    </template>

    <template data-id="error">
        <div class="alert-danger alert">##text##</div>
    </template>

    <div class="loadable-content"></div>
    <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
</div>