
<div class="page" data-page="main" data-handler="MainPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-t="">Main</li>
        </ol>
        <%- include('./_account') %>
    </div>

    <h1 data-t="">Members</h1>

    <div class="member-list loadable-container" data-handler="MemberList">

        <template data-id="list">
            <div class="row">{{items}}</div>
        </template>

        <template data-id="item">
            <div class="col-md-6 col-lg-3">
                <div class="member-card" data-id="{{_id}}">
                    <a href="#" data-action="member">
                        {{avatar}}
                    </a>
                    <h3><a href="#" data-action="member">{{name}}</a></h3>
                    <h4>
                        <span data-t="">Photos:</span>
                        <b>{{photoCounter}}</b>
                    </h4>
                </div>
            </div>
        </template>

        <template data-id="avatar">
            <img data-src="<%- _url('/api/base/file/thumbnail') %>?c=avatar&id={{avatar}}"
                 class="img-thumbnail img-fluid" alt="{{name}}">
        </template>

        <template data-id="avatarPlaceholder">
            <img src="front/image/avatar-placeholder.png" class="img-thumbnail img-fluid" alt="{{name}}">
        </template>

        <%- include('./_pagination') %>

        <template data-id="warning">
            <div class="alert-warning alert">{{text}}</div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>