
<div class="page" data-page="member" data-handler="MemberPage">

    <div class="member loadable-container" data-handler="Member">

        <template data-id="avatar">
            <img data-src="<%- _url('/api/base/file/download') %>?c=avatar&id={{avatar}}"
                 class="thumbnail thumbnail-sm thumbnail-center img-responsive transparent"
                 alt="{{name}}">
        </template>

        <template data-id="avatarPlaceholder">
            <img src="front/image/avatar-placeholder.png"
                 class="thumbnail thumbnail-sm thumbnail-center img-responsive transparent"
                 alt="{{name}}">
        </template>

        <template data-id="member">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li><a href="#" data-action="main" data-t="">Main</a></li>
                    <li data-t="">Member</li>
                </ol>
                <%- include('./_account') %>
            </div>

            <h1>{{name}}</h1>

            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    {{avatar}}
                </div>
                <div class="col-md-10 col-sm-9 col-xs-8">
                    <h2>{{name}}</h2>
                    <h4>
                        <span data-t="">Total photos:</span>
                        <b>{{photoCounter}}</b>
                    </h4>
                    <div class="status-{{friendStatus}} mt15">
                        <span class="member-badge badge" data-t="meta.class.member">{{friendStatus_title}}</span>
                        <button type="button" class="btn-success btn" data-action="invite" data-id="{{_id}}">
                            <span data-t="">Invite</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="tabs form-tabs mt40" data-id="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-tab active" data-id="albums">
                        <a href="#" data-t="">Albums</a>
                    </li>
                    <li class="nav-tab" data-id="friends">
                        <a href="#" data-t="">Friends</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="form-base-group tab-pane active" data-id="albums">
                        <%- include('./_memberAlbums') %>
                    </div>
                    <div class="form-base-group tab-pane" data-id="friends">
                        <%- include('./_memberFriends') %>
                    </div>
                </div>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>